@{
    ViewBag.Title = "Consulting";
    Layout = "~/Views/Shared/_eesoftLayout.cshtml";
}
<div>
    @*<img src="~/assets/images/faq12.jpg" />*@
    @*<img src="~/assets/images/Consulting-Servicess.jpg" />*@
    @*<img src="~/assets/images/CONSULTANCY-SERVICES-softnika.jpg" width="100%" height="0%" />*@
    <img src="~/assets/images/ConsultingImage.jpg" />
    @*<img style="-webkit-user-select: none;margin: auto;cursor: zoom-out;" src="https://www.softnika.com/wp-content/uploads/2019/09/CONSULTANCY-SERVICES-softnika.jpg" width="980" height="380">*@
</div>
<div class="main-container">

    <div class="container">

        <div class="row">

            <div class="col-md-12 fadeIn animated">
                <p></p>
                <p>
                    Everything we do at EESoft is built around helping people and organizations recognize both the incredible consequences and inherent complexities in what the future of digital holds.
                    With a cross-industry expertise, we’re helping our clients not only harness changes on the horizon, but capitalize on them and ultimately lead their organizations, and all of us, to a more prosperous future.
                    We’ve been around for a long time and have no signs of slowing down. We’ve created and sustained life in seemingly impossible ways.
                    And when harnessed properly, we generate a force of change unlike anything else.
                </p>

            </div>

            <div class="col-md-12 fadeIn animated">

                <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#cause-carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">

                            <img src="assets/images/causes/slider/it-consulting.jpg" alt="">

                        </div>

                        <div class="item">
                            <img src="assets/images/causes/slider/it-consulting1.jpg" alt="">

                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="row fadeIn animated">

            <div class="col-md-6">

                <h2 class="title-style-2">ROCKWELL AUTOMATION<span class="title-under"></span></h2>

                <p>
                    As the world's largest company dedicated to industrial automation, Rockwell Automation knows that digital engagement with customers is not something to be taken lightly.
                    Having a storied history of superior customer support and premium automation products, Rockwell Automation's goal was to provide an efficient and intuitive digital experience to their customers.
                    By partnering with EESoft, we built both a web and native mobile application that provide more efficient product search, configuration, and ordering.

                </p>

            </div>

            <div class="col-md-6">

                <h2 class="title-style-2"> DIGITAL EXPERIENCE AND INNOVATION<span class="title-under"></span></h2>

                <p>
                    Emerging technologies are rapidly enabling companies to connect products, create new business models and open up new channels.
                    EESoft works with enterprises to fundamentally rethink what it is they’re actually selling.
                    When it comes to internal operations, EESoft provides an edge by helping to deploy new levels of automation, accelerate the adoption of new technologies and methodologies internally, and increase the flow of critical information to every corner of the organization.


                </p>

            </div>

        </div>
    </div>
</div>
