@{
    ViewBag.Title = "Development";
    Layout = "~/Views/Shared/_eesoftLayout.cshtml";
}
<div>
    @*<img src="~/assets/images/web-development.jpg" />*@
    <img src="~/assets/images/web-develop-image.jpg" />
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fadeIn animated">
                <p></p>
                <p>
                    WEB DEVELOPMENT broadly refers to the tasks associated with developing websites for hosting via intranet or internet. The web development process includes web design,
                    web content development, client-side/server-side scripting and network security configuration, among other tasks. The basic aim of our EESoft is to enhance the
                    visibility of our customers incorporating all new technology.It can also undertake high-enddedicated custom software development tasks from diverse clients to convert
                    their requirements into workable solutions and applications.Our web development involves developing the functionality and navigation of the basic website, graphics
                    and finallyformatting and loading the content to the actual website.
                </p>
            </div>
            <div class="col-md-12 fadeIn animated">
                <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#cause-carousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="assets/images/causes/slider/" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/images/causes/slider/web-development1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fadeIn animated">
            <div class="col-md-6">
                <h2 class="title-style-2"> WEB API DEVELOPMENT <span class="title-under"></span></h2>
                <p>
                    An API, or "Application Program Interface", is a set of routines and protocols that provide building blocks for computer programmers and web developers to build
                    software applications. In the past, APIs were largely associated with computer operating systems and desktop applications. An API is a software intermediatary that
                    allows two applications to talk to each other.An API specifies how software components should interact.
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="title-style-2">MOBILE APPLICATION DEVELOPMENT <span class="title-under"></span></h2>
                <p>
                    Mobile application development is the set of processes and procedures involved in writing software for small, wireless computing devices.Mobile application development
                    is the procedure involved in writing software for devices such as smartphones and tablets.A mobile app is a software application developed specifically for use on small,
                    wireless computing devices, such as smartphones and tablets, rather than desktop or laptop computers.
                </p>

            </div>

        </div>
    </div>
</div>
