@{
    ViewBag.Title = "DigitalMarketing";
    Layout = "~/Views/Shared/_eesoftLayout.cshtml";
}
<div>
    @*<img src="~/assets/images/Digital-Marketing.jpg" />*@
    @*<img src="~/assets/images/digital-marketing-company-1024x660.jpeg" />*@
    @*<img src="~/assets/images/LDN-L-TECH-1025-1-1.jpg" />*@
    @*<img src="~/assets/images/Global-eCommerce.jpg" />*@
    @*<img src="~/assets/images/DigitalImage.jpg" />*@
    <img src="~/assets/images/ImageDigital.jpg" />
</div>

<div class="main-container">

    <div class="container">

        <div class="row">

            <div class="col-md-12 fadeIn animated">
                <p></p>
                <p>
                    DIGITAL MARKETKING is defined by the use of numerous digital tactics and channels to connect with customers where they spend much of their time: online. From the website itself to a business's online branding assets -- digital advertising, email marketing, online brochures, and beyond -- there's a spectrum of tactics that fall under the umbrella of "digital marketing."Digital marketing can work for any business in any industry.Unlike most offline marketing efforts, digital marketing allows marketers to see accurate results in real time.
                </p>
            </div>

            <div class="col-md-12 fadeIn animated">

                <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#cause-carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">

                            <img src="assets/images/causes/slider/digital-marketing.jpg" alt="">

                        </div>

                        <div class="item">

                            <img src="assets/images/causes/slider/digital-marketing1.jpg" alt="">

                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="row fadeIn animated">

            <div class="col-md-6">

                <h2 class="title-style-2"> SOCIAL MEDIA MARKETING<span class="title-under"></span></h2>

                <p>
                    This practice promotes your brand and your content on social media channels to increase brand awareness, drive traffic, and generate leads for your business. The channels you can use in social media marketing include:

                <p>Facebook.</p>
                <p>Twitter.</p>
                <p>LinkedIn</p>
                <p>Google+.</p>
            </div>
            <div class="col-md-6">

                <h2 class="title-style-2">PAY-PER-CLICK<span class="title-under"></span></h2>

                <p>
                    PPC is a method of driving traffic to your website by paying a publisher every time your ad is clicked. One of the most common types of PPC is Google AdWords, which allows you to pay for top slots on Google's search engine results pages at a price "per click" of the links you place. Other channels where you can use PPC include:

                <p>Paid ads on Facebook.</p>
                <p>Promoted Tweets on Twitter.</p>
                <p>Sponsored Messages on LinkedIn.</p>
                </p>

            </div>
        </div>
    </div>
</div>
