@{
    ViewBag.Title = "Testing";
    Layout = "~/Views/Shared/_eesoftLayout.cshtml";
}
<div>
    <img src="~/assets/images/InstantQA_Blogpost.jpg" />
</div>
<div class="main-container">

    <div class="container">

        <div class="row">

            <div class="col-md-12 fadeIn animated">
                <p></p>
                <p>
                    AT EESOFT, OUR MISSION…
                    is to help transform our clients’ software quality management process to save you time and money. “Acceptable” software is no longer enough.
                    Tools and technology that functionally get the job done can still result in products that lack the quality and user experience you need to compete as markets shift and competitors innovate.
                    If you want more than just ‘acceptable’, you’ve come to the right place.

                    We make our clients’ software better — that’s all we do.
                </p>

            </div>

            <div class="col-md-12 fadeIn animated">

                <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#cause-carousel" data-slide-to="1"></li>
                    </ol>

                    @*Wrapper for slides
                        <div class="carousel-inner" role="listbox">

                            <div class="item active">

                                <img src="assets/images/causes/slider/software-testing.jpg" alt="">

                            </div>

                            <div class="item">

                                <img src="assets/images/causes/slider/software-testing1.jpg" alt="">

                            </div>

                        </div>*@
                </div>

            </div>

        </div>

        <div class="row fadeIn animated">

            <div class="col-md-6">

                <h2 class="title-style-2"> Functional Testing<span class="title-under"></span></h2>

                <p>
                    EESoft’s functional testing services give you peace of mind that your software doesn’t just work, but does what your users want and expect.
                    Using our best practices functional testing framework, we thoroughly cover all crucial areas of functionality, from UI to platform compatibility.
                    At EESoft, we’ve chosen a functional testing design to provide the broadest base possible for software evaluation.
                    By leveraging various tools and platforms, we ensure that your applications experience the same challenges in a testing environment they will encounter in the wild.
                </p>

            </div>

            <div class="col-md-6">

                <h2 class="title-style-2"> Test Automation <span class="title-under"></span></h2>

                <p>
                    As a business grows, the strategy may likely include the development of more products for their customers,
                    EESoft has been providing professional automated software testing  services for over ten years.
                    In the world of test automation we’ve seen a thing or two; from publishing topical Automation White Papers, presenting at conferences, and holding Automation workshops, to providing day-in and day-out automation test services to clients globally.
                    When and Where to automate, How to automate, and What tools to use to automate can be challenging issues.
                </p>

            </div>

        </div>
    </div>
</div>

