@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_eesoftLayout.cshtml";
}

<img src="~/assets/images/slider/career3pmm.jpg" alt=" " class="img-responsive" />
<p class="page-description">
</p>
<div class="main-container">

    <div class="container">

        <div class="row">

            <div class="col-md-12 fadeIn animated">

                <p>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspExciting opportunities are available in next generation business services with EESoft Technologies. EESoft has been a pioneer in Application and Product development services with various firsts to its credit in its industry. As part of its continued endeavor in bringing innovative and high impact next generation services to the market, we are looking for bright, talented and inspired individuals to be the part of our highly motivated team.
                </p>
                <p>

                </p>

            </div>
            <div class="col-md-12 fadeIn animated">

                <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#cause-carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">

                            <img src="~/assets/images/slider/Careers.png" alt="" />
                        </div>
                        <div class="item ">
                            <img src="~/assets/images/slider/newsubbbbbbbbb.jpg" alt="" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row fadeIn animated">
            <div class="row">
                <div class="col-md-6 col-sm-6">

                    <div class="col-icon-wrapper">

                        <img src="~/assets/images/icons/icon1.PNG" alt="" />

                        <h2 class="title-style-2">WE LIVE WELL<span class="title-under"></span></h2>

                        <p>
                            A career at EESOFT is dedicated to transforming the way people work, and companies trust Saba to help them take care of their people because we lead by example.Team achievement, wellness, work-life balance, and total rewards are important to us.
                        </p>
                    </div>
                </div>


                <div class="col-md-6 col-sm-6">

                    <div class="col-icon-wrapper">

                        <img src="~/assets/images/icons/icon2.PNG" alt="" />

                        <h2 class="title-style-2">WE LOVE WHAT WE DO<span class="title-under"></span></h2>

                        <p>
                            As a EESOFT team member, you can expect what we commit to our customers. An ongoing approach to feedback, coaching and recognition, an opportunity to connect meaningful personal goals to our company goals, a focus on team achievement.
                        </p>
                    </div>
                </div> 
                <div style="margin-top:25%">            
              <div class="col-md-6">
                    <div class="col-icon-wrapper">

                        <img src="~/assets/images/icons/icon3.PNG" alt="" />

                        <h2 class="title-style-2">WE WORK WITH PASSION<span class="title-under"></span></h2>

                        <p>
                            Our culture, team interactions and community commitment mean we have fun while making a difference in everything we do.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-icon-wrapper">

                        <img src="~/assets/images/icons/icon4.PNG" alt="" />
                        <h2 class="title-style-2">WE APPRECIATE AND RECOGNIZE OUR EMPLOYEES<span class="title-under"></span></h2>
                        <p>
                            We celebrate successes, big and small, along the way. We offers an excellent vacation program, comprehensive healthcare benefits.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


