<footer class="main-footer">
    <div class="footer-top">
    </div>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4 class="footer-title">About us <span class="title-under"></span></h4>
                        <div class="footer-content">
                            <p>
                                <strong>EESOFT</strong> web Solutions is your one stop platform for all web related needs. We understand that developing, hosting and creating a web niche for you is a personal and important task and we make sure that we put in every single technique up our sleeves to make sure you are satisfied each time.
                            </p>
                            <p>
                                Our list of clients includes several key market players, which is a testimony to our commitment and dedication to making your page something to remember. Once you work with us, there is very little you need to worry about, because we ensure that we are constantly at your beck and call, putting up the right mechanisms to keep your website alive.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4 class="footer-title">SERVICES <span class="title-under"></span></h4>
                        <ul class="submenu">
                            <li class="submenu-item"><a href="~/Services/Development"> Development </a></li>
                            
                            <li class="submenu-item"><a href="~/Services/Testing">Automation Testing </a></li>
                            
                            <li class="submenu-item"><a href="~/Services/DigitalMarketing">Digital Marketing </a></li>
                            <li class="submenu-item"><a href="~/Services/Consulting">IT Consulting </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4 class="footer-title">ADDRESS<span class="title-under"></span></h4>
                        <p>#15-24-5, Flat No: 202, <br> Road No: 1 Pujitha Estates, <br>Kukatpally Housing Board Colony,<br> Kukatpally, Hyderabad,<br>Telangana 500072</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4 class="footer-title">FOLLOW US<span class="title-under"></span></h4>
                        <div class="col-sm-6 col-xs-12 text-right">
                            <ul class="list-unstyled list-inline header-social">
                                <li> <a href="#" target="_blank"> <h2><i class="fa fa-facebook"></i> </h2></a> </li>
                                <li> <a href="#" target="_blank"><h2> <i class="fa fa-twitter"></i> </h2> </a> </li>
                                <li> <a href="#" target="_blank"> <h2><i class="fa fa-linkedin"></i></h2>  </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container text-right">
            2020 All Rights Reserved | EESOFT Technologies <!--<a href="http://www.ouarmedia.com" target="_blank">Ouarmedia</a>-->
        </div>
    </div>
</footer>
